# Override GitHub language detection
*.cpp linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++
*.cc linguist-language=C++
*.cxx linguist-language=C++

# Mark R files
*.R linguist-language=R
*.Rd linguist-language=R

# Exclude certain files from stats
Makefiles linguist-vendored
Makevars linguist-vendored
Makevars.win linguist-vendored
ahull3D_types.h linguist-vendored
README.md linguist-vendored
